.bg-body-tertiary {
    background-color: #48D4CA !important;
}


#logo1{
    display: block; /* Asegura que la imagen no tenga espacio extra alrededor */
    max-width: 100%; /* Mantiene la imagen responsiva */
    
    
}

#logo2{
    width: 300px;
    display: block; 
    max-width: 100%; 
   
    }

/* elementos del navbar */
ul{
    font-size: 28px;
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-style:italic;
}

ul:hover{
    transform: scale(1.1); /* scale up by 10% */
    transition: transform 0.3s ease-in-out; /* smooth animation */
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* add a dark shadow */
  transition: text-shadow 0.3s ease-in-out; /* smooth animation */
}
    



/* separacion de elementos navbar */
.nav-item {
    margin-left: 3rem;
    margin-right: 6rem;
}

