
<h1>Gestión de Usuarios</h1>
@if (users.length === 0) {
    <div class="alert alert-warning">
      <i class="fa fa-circle-info"></i>
      No hay usuarios registrados todavía
    </div>
  } @else {
    <div>
      <table class="table">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">Usuario</th>
            <th scope="col">Email</th>
            <th scope="col">Rol</th>
          </tr>
        </thead>
        <tbody>
          @for (user of users; track user) {
            <tr>
              <td>
                <button (click)="eliminar(user._id)" class="btn btn-danger btn-sm me-1">
                  <i class="fa fa-trash"></i>
                </button>
              </td>
              <td>{{ user.name }}</td>
              <td>{{ user.email }}</td>
              <td>{{ user.role }}</td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }