.container {
    max-width: 45%;  
    
}
.image-container {
    display: flex;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.img-fluid{
    max-height: 70px;
}

h1, p{
    
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-style:italic;
    margin: 3rem;
    text-align: center;
    margin: 20px;
    padding: 20px;
    border: 2px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
    font-size: 2em;
    color: #ff6347;
    margin-bottom: 10px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 1.2em;
    margin-top: 10px;
    line-height: 1.6;
}