<h1>Películas ({{ movies.length }})</h1>
<div class="input-group mb-3">
  <span class="input-group-text">
    <i class="fa fa-filter"></i>
  </span>
  <input [(ngModel)]="filtro" type="text" class="form-control" placeholder="Filtrar">
</div>



<ul class="row list-unstyled">
    @for(movie of (movies | filtermovies: filtro); track movie){
        <li class="col-md-6 col-sm-12 col-lg-3 my-1 p-3">
            <div class="card h-100">
                <img [src]="movie.image"  class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">{{ movie.title }} </h5>
                  <br>
                  <h6 class="card-title"><span class="tema">{{ movie.thema }}</span></h6>
                  <br>
                  <p class="card-text">{{ movie.synopsis }}</p>
                  

                  
                </div>
                <div class="card-footer">
                    <small class="text-muted">Año {{ movie.year }}</small>
                    <p class="card-text">{{ movie.pricePerDay | divisa }} Por día </p>
                    <p class="card-text">{{ movie.valoration }} ★</p>
                    <a [routerLink]="'/rent/'+movie._id" class="btn btn-outline-primary" style="display: block">Alquilar</a>
                </div>

            </div>
        </li>
    }
</ul>